.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-pearl, #f9f7f3);
  z-index: 1000;
}

.spinner-container::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(var(--color-forest, #068466) 1px, transparent 1px),
    linear-gradient(90deg, var(--color-forest, #068466) 1px, transparent 1px);
  background-size: 50px 50px;
  opacity: 0.08;
  z-index: 0;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 4px solid;
  border-color: var(--color-forest, #068466) transparent transparent transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 1;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
